@import "~normalize.css/normalize.css";

$primary: #f54f4e;
$secondary: #3d2b3b;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #fff;
}

#app {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.3em;
  background-color: $secondary;
  border-bottom: 5px solid $primary;
  margin: 0px;
  padding: 0.67em 0;
  font-weight: normal;
  a {
    color: #ffffff;
    &:hover {
      text-decoration: none;
    }
  }
}
p.headline {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $primary;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
