@import "~normalize.css/normalize.css";

$primary: #f54f4e;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

#app {
  margin: 0 auto;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: $primary;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
